.login-padding
  // Align alert box to bottom of the padding box
  position: relative
  .alert
    position: absolute
    bottom: 0px
    // Make it fill the entire box
    width: 100%
  // Make the box only be padded on medium-sized screens or higher
  @media (min-width: $screen-md-min)
    height: 200px
