// IDK why but PySCSS fails without this
@function twbs-font-path($url) {
    @return $url;
}

/* Bootstrap initialization */
$icon-font-path: "/fonts/bootstrap/";
$icon-font-name: "glyphicons-halflings-regular";

@import "bourbon/bourbon";
@import "bootstrap/bootstrap";
@import "sidebar";

@import "bootstrap-extras";

@import "shame";

// Sizing for Glyphicons used as navbar links
.navbar-nav > li > a > .glyphicon {
    font-size: 16px;
}
